# To copy the Publishable Key for use in your application:
# In your Clerk Dashboard, navigate to Configure > API Keys.
# Scroll to the Publishable key section.
# Select the copy icon next to the Publishable key field to copy the key.

VITE_CLERK_PUBLISHABLE_KEY=